#div-images{
    background-image: url('https://cdn.vox-cdn.com/thumbor/KPhlqfCK1CmFIZ_xG43dD1A79xw=/0x0:1518x847/1200x675/filters:focal(638x303:880x545)/cdn.vox-cdn.com/uploads/chorus_image/image/66512640/Screen_Shot_2020_03_13_at_10.03.13_AM.0.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% 5%;
     padding-top: 100px;
     padding-bottom: 100px;
    width: 100%;
    height: auto;
}
.HomeBgPage{
    color: white;
}
#home-row{
    margin: 0 auto;
}

#home-1st-column h1{
    font-size: 58px;
    color: #40caf0;
    font-weight: 800;
}
#home-1st-column p{
    font-size: 30px;
    font-weight: 0%;
    letter-spacing: 1px;
    opacity: .8;
}

@media screen and (max-width: 768px){
   
    #div-images{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #home-1st-column h1{
        font-size: 30px;
    }
    #home-1st-column p{
        width: 50%;
        font-size: 16px;
        margin: 0 auto;
    }
  
    #home-2nd-column button{
        font-size: 15px;
    }
    #some_id{font-size: 15px !important;}
  

}
#home-2nd-column{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
#home-2nd-column span{
    color: #40caf0;
    font-size: 23px;
}
#home-button{
    margin: 0 25px;
    padding: 9px 30px;
    border-radius: 0%;
    color: #000;
    background-color: #40caf0;
    font-size: 20px;
}