
.Navbar{
    color:#fff;
    position: sticky;
    background-color: #000; 
    width: 200px;
    height: 635px;
   
}


.Navbar .Navbar-ul{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;  
}

.Navbar .Navbar-li{
    list-style: none;
    padding: 10px 25px;
}
.Navbar .Navbar-li a{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
}

.subMenu ul{
    padding: 10px 19px;
    margin-top: 10px;
    background-color: aqua;
    display: none;
}
.subMenu ul li{
    list-style: none;
}

.Navbar .Navbar-ul .Navbar-li:hover .subMenu ul{
    display: block;
  
}